.btn__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-right: auto;
}

.btn__grid .btn {
    width: 100%;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 10px 0 #ccc;
}

.dashboard__topbar {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.dashboard__topbar h4 {
    color: blue;
    padding-left: 20px;
}

form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 500px;
    gap: 10px;
}

form input {
    display: block;
    width: 100%;
}

form .btn {
    width: fit-content;
}

.oneline__bar {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1em;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}

.oneline__bar h4 {
    color: blue;
}

.oneline__bar form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 710px;
    padding-bottom: 20px;
}

.oneline__bar form .btn {
    width: fit-content;
}

.oneline__bar form .btn__blue {
    color: white;
    border-radius: 3px;

}

.main__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 20px;
}

.main__content .boxes {
    background: linear-gradient(180deg, #B3F295 0%, rgba(126, 255, 65, 0) 100%);
    border-radius: 7px;
    margin: 10px;
    padding: 25px;
    font-size: 20px;
    text-align: start;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.main__content .boxes h5 {
    color: blue;
}

.main__content .boxes p {
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;
}

.main__content .boxes h6 {
    color: blue;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}