.dashboard__topbar {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

form {
  flex-grow: 1;
  width: 100%;
  max-width: 678px;
  display: flex;
  align-items: center;
  gap: 10px;
}

form input {
  flex: 1;
  max-width: 480px;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ccc;
}

form .btn__lightblue,
form .btn__gray {
  padding: 8px 16px;
  width: fit-content !important;
  color: #fff;
  border-radius: 4px;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.section__container {
  display: flex;
  gap: 16px;
  margin-bottom: 1em;
}

.classes__list {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 24px #bbb;
  flex: 0.3;
}

.classes__list__topbar,
.assignment__list__topbar {
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue);
}

.classes__list__topbar .icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.classes__list__topbar .btn.btn__icon {
  color: white;
  padding: 8px;
}

.classes__list__content {
  padding: 1em;
}

.class__item {
  padding: 1em;
  box-shadow: 0 0 19px #ccc;
  margin-bottom: 8px;
  border-radius: 8px;
  width: fit-content;
}

.assignment__list {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 24px #bbb;
  flex: 0.5;
}

tr {
  grid-template-columns: repeat(4, 1fr);
}

.btn__green {
  width: 100%;
  color: white;
  border-radius: 4px;
  padding: 8px;
}

.stats {
  flex: 0.2;
}

.stat__item {
  padding: 2em;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.stat__item i {
  color: green;
  font-size: 32px;
  padding: 24px;
  background-color: #eee;
  border-radius: 50%;
}
