.btn__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: auto;
}

.btn__grid .btn {
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: white;
  box-shadow: 0 0 10px 0 #ccc;
}

.dashboard__topbar {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

form input {
  display: block;
  width: 100%;
}

form .btn {
  width: fit-content;
}

/* table */
table {
  width: 100%;
  padding: 0 2em;
  margin: 1em 0;
}

tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

th {
  font-weight: normal;
}

td {
  font-size: 14px;
}

td,
th {
  display: block;
  padding: 1em 0 !important;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgb(228, 228, 238);
}

tr > td:first-of-type,
tr > th:first-of-type {
  text-align: left;
}

.table__action {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr;
}

.table__action__extended {
  grid-column: 7/9;
}

.filters {
  margin-top: 2em;
  padding: 0 2em;
}

.filters__list {
  gap: 1em;
}

.filters__list button {
  border-radius: 100px;
  background-color: transparent;
  color: #888;
}

.filters__list button.active {
  color: #333;
}
