.btn__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: auto;
}

.btn {
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 #ccc;
}

.dashboard__topbar {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

form input {
  display: block;
  width: 100%;
}

form .btn {
  width: fit-content;
}
