@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {
  box-sizing: border-box;
  --primary-blue: #3751fe;
  --primary-yellow: #e0e037;
  --primary-lightblue: #a0bbe3;
  --primary-red: #e44537;
  --primary-green: #16be3a;

  /* texts */
  --text-gray: #00000099;
  --text-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
}

/* page layout */
.main {
  display: flex;
}

.sidebar {
  flex: 0.3;
  max-width: 240px;
}

.sidebar h1 {
  width: fit-content;
  padding: 0.5em 0.8em;
  background: -webkit-linear-gradient(
    45deg,
    rgb(19, 74, 255),
    rgb(41, 210, 98)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar nav ul li a {
  display: block;
  padding: 1em;
}

.sidebar nav ul li a:hover {
  background: rgb(220, 214, 214);
}

.sidebar nav ul li a.active {
  background: rgb(220, 214, 214);
}

.sidebar a {
  color: var(--text-gray);
  text-decoration: none;
  margin: 1em 0;
}

.content__wrapper {
  flex: 1;
  background-color: rgb(247, 244, 244);
  height: 100%;
  width: 100%;
  display: block;
  min-height: 100vh;
}

.content__wrapper .navbar {
  background: #fff;
  padding: 1em;
  margin-left: 4px;
}

/* table related */
.data__table {
  background-color: #fff;
  margin: 1em;
  padding: 1em 0;
  border-radius: 8px;
}

table {
  width: 100%;
  padding: 0 2em;
  margin: 1em 0;
}

tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

th {
  font-weight: normal;
}

td {
  font-size: 14px;
}

td,
th {
  display: block;
  padding: 1em 0 !important;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgb(228, 228, 238);
}

tr > td:first-of-type,
tr > th:first-of-type {
  text-align: left;
}

.table__action {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr;
}

.table__action__extended {
  grid-column: 7/9;
}

.filters {
  margin-top: 2em;
  padding: 0 2em;
}

.filters__list {
  gap: 1em;
}

.filters__list button {
  border-radius: 100px;
  background-color: transparent;
  color: #888;
}

.filters__list button.active {
  color: #333;
}

/* text utilities */
.text-gray {
  color: var(--text-gray);
}

/* buttons */
.btn {
  display: block;
  width: fit-content;
  padding: 0.4em 1.2em;
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.btn__submit {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  background: var(--primary-blue);
  color: var(--text-white);
}

.btn__orange {
  background-color: orange;
}

.btn__blue {
  background-color: var(--primary-blue);
}

.btn__lightblue {
  background-color: rgb(119, 166, 226);
}

.btn__red {
  background-color: rgb(234, 50, 50);
}

.btn__gray {
  background-color: rgb(85, 82, 82);
}

.btn__action {
  background-color: rgb(235, 230, 230);
  border: none;
  border-radius: 100px;
  width: 100px;
}

.btn__action__success {
  color: green;
}

.btn__action__warning {
  color: rgb(231, 44, 44);
}

.btn__action__pending {
  color: rgb(227, 188, 59);
}

/* flexbox utilities */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* border colors */
.border__blue {
  border-color: var(--primary-blue) !important;
}

.border__red {
  border-color: var(--primary-red) !important;
}

.border__yellow {
  border-color: var(--primary-yellow) !important;
}

.border__lightblue {
  border-color: var(--primary-lightblue) !important;
}

.border__green {
  border-color: var(--primary-green) !important;
}
