@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  box-sizing: border-box;
  --primary-blue: #3751fe;

  /* texts */
  --text-gray: #00000099;
  --text-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

/* page layout */
.main {
  display: flex;
}

.sidebar {
  flex: 0.3;
  max-width: 240px;
}

.sidebar h1 {
  width: fit-content;
  padding: 0.5em 0.8em;
  background: -webkit-linear-gradient(
    45deg,
    rgb(19, 74, 255),
    rgb(41, 210, 98)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar nav ul li a {
  display: block;
  padding: 0.5em 1em;
}

.sidebar nav ul li a:hover {
  background: rgb(220, 214, 214);
}

.sidebar a {
  color: var(--text-gray);
  text-decoration: none;
  margin: 1em 0;
}

.content__wrapper {
  flex: 1;
  background-color: rgb(247, 244, 244);
  height: 100%;
  width: 100%;
  display: block;
  min-height: 100vh;
}

.content__wrapper .navbar {
  background: #fff;
  padding: 1em;
  margin-left: 4px;
}

/* text utilities */
.text-gray {
  color: var(--text-gray);
}

/* buttons */
.btn {
  display: block;
  width: fit-content;
  padding: 0.4em;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.btn__submit {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  background: var(--primary-blue);
  color: var(--text-white);
}

.btn__orange {
  background-color: orange;
}

.btn__blue {
  background-color: var(--primary-blue);
}

.btn__lightblue {
  background-color: rgb(119, 166, 226);
}

.btn__red {
  background-color: rgb(234, 50, 50);
}

.btn__gray {
  background-color: rgb(85, 82, 82);
}
